.daydate {
    position: absolute;
    bottom: 10px;
    left: 20px;
    white-space: nowrap;
}

.day {
    color: white;
    font-size: 60px;
}

.date {
    color: rgb(216, 216, 216);
    font-size: 30px;
    margin-left: 10px;
}

.time {
    color: white;
    font-size: 120px;
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

