.container
{
    width: 12.5vw;
    height: 9vw;
    background: #ffffff;
    position: relative;
    text-align: center;
}

.clock
{
    width: 100%;
    font-size: 3.7vw;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
}

.start
{
    background-color: green;
    color: white;
    cursor: pointer;
    width: 45%;
    height: 30%;

    position: absolute;
    bottom: 10px;
    left: 10px;
    display: table;
}

.stop
{
    background-color: red;
    color: white;
    cursor: pointer;
    width: 45%;
    height: 30%;

    position: absolute;
    bottom: 10px;
    left: 10px;
    display: table;
}

.reset
{
    background-color: grey;
    color: white;
    cursor: pointer;
    width: 45%;
    height: 30%;

    position: absolute;
    bottom: 10px;
    right: 10px;
    display: table;
}

.vcenter
{
    display: table-cell;
    vertical-align: middle;
}