.todolist 
{
    width: 350px;
    height: 250px;
    background-color: #f5f5f5;

    margin: 0px;
    padding: 0px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);

    position: absolute;
    right: 20px;
    top: 20px;
}

.todolist:before, .todolist:after
{
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 9px 18px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 9px 18px rgba(0, 0, 0, 0.3);
	box-shadow: 0 9px 18px rgba(0, 0, 0, 0.3);
	z-index: -1;
} 

.todolist:after
{
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}

.header
{
    font-family: 'Helvetica Neue', sans-serif;
    height: 12%;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding-top: 10px;
    text-align: center;
}

.footer
{
    display: inline-block;
    background-color: aqua;
}

.textbox
{

}